
.nav-menu[b-ewq1rven3u] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: color 0.15s ease, background-color 0.15s ease;
    padding: 0 1rem;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
       /* background: var(--bs-body-bg, #fff); */
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.brand[b-ewq1rven3u] {
    margin: 0;
    font-weight: 600;
    color: #2563EB;
}

.nav-links[b-ewq1rven3u] {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-link[b-ewq1rven3u] {
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    border-radius: 4px;
    color: red;
}

.active[b-ewq1rven3u] {
    color: #2563EB ;
}
